{
  "ignore": "node_modules",
  "presets": [
    "react",
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7"]
        },
        "modules": false,
        "useBuiltIns": true
      }
    ]
  ],
  "plugins": [["transform-object-rest-spread", { "useBuiltIns": true }]]
}
