{
  "ignore": "node_modules",
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  },
  "presets": [
    "react",
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7"]
        },
        "modules": false
      }
    ]
  ],
  "plugins": [
      ["transform-class-properties"],
      ["transform-object-rest-spread", { "useBuiltIns": true }]
    ]
}
